<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/Industries_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Safe Industery Start -->
    <div class="safe-industery-area section-padd-top30">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md pr-0">
                    <div class="safe-caption pt-10 mb-40">
                        <h2>Safe Industry Solutions That Saves your Valuable Time and money. </h2>
                        <p class="safe-pera-one" >NOK Investment Co. is committed to being the wine industry's most trusted and relied-upon partner, providing best-in-class products, exceptional expertise and a passion for quality and customer satisfaction.</p>

                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                    <div class="safe-caption-right">
                        <div class="safe-img">
                            <img src="assets/img/safe_industery/safe_industery_1.jpg" alt="">
                        </div>
                        <!-- img TOP caption -->
                        <div class="safe-alert-box">
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">

                                    <div class="safe-alert"
                                        data-background="assets/img/safe_industery/color_bg.png">
                                        <img src="assets/img/icon/aleart_icon.png" alt="">
                                        <h4>Our Vision</h4>
                                        <p>To be the most trusted and relied upon partner.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Safe Industery End -->


    <!-- Safe Industery Start -->
    <div class="safe-industery-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md pr-0">
                    <div class="safe-caption pt-10 mb-40">
                        <h2>Safe IndusterySolutions That Saves our Valuable Time and mony!</h2>
                        <p class="safe-pera-one">Logisti Group is a representative logistics operator providing full range of service in the sphere of customs clearance and transportation worldwide for any type of cargo.</p>
                        <p  class="safe-pera-two">Lorem ipsum dolor sit amet, consectetur ipis adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna oris aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        <p  class="safe-pera-three"> exercitation ullamco laboris nisi ut aliquip ex ea commodo nsequat. Duis aute irure dolor in repr.</p>
                        <!-- btn -->
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                    <div class="safe-caption-right">
                        <div class="safe-img">
                            <img src="assets/img/safe_industery/safe_industery_1.jpg" alt="">
                        </div>
                        <!-- img TOP caption -->
                        <div class="safe-alert-box">
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">
                                    
                                    <div class="safe-alert" data-background="assets/img/safe_industery/color_bg.png">
                                        <img src="assets/img/icon/aleart_icon.png" alt="">
                                        <h4>Our Mission</h4>
                                        <p>Quis ipsum suspendisse ultrices gravidae Risus commodo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Safe Industery End -->
    

    
    <!-- Want To Work Start -->
    <div class="wantToWork-area w-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <div class="wantToWork-caption">
                        <h2>Want To Work<br> With Us? Hit The Button.</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-4">
                   <div class="wantToWork-btn f-right">
                        <a href="#" class="white-btn">Let’s Work Toghter</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Want To Work End -->

</main>
