<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center"
            data-background="assets/img/hero/Industries_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Services Area Start -->
    <div class="services-area d-flex justify-content-lg-between section-padding30">
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_1.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Agricultural supplies</h4>
                <p>We provide a variety of agricultural products from far and wide considering that South Sudan has
                    less produce to feed all person.Our agricultural products are derived from cultivating plants or
                    animals to sustain or enhance human life.We as well take the initiative of supplying farm
                    machinery like tractors and water pumps to indigenous farmers.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_2.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Motor spares</h4>
                <p>We are general motor parts and accessories retailer. We manage your supply chain, provide safe     and  reliable Genuine Spare Parts, improve quality, efficiency & safety, prompt delivery and reduce environmental impact. From Body parts, Engine parts, Suspension
                    parts to Accessories like Lamps we acquire from our trusted sources in Australia,Japan,Europe,
                    India and even Thailand.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_3.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Office supplies and electronic appliances</h4>
                <p>Office Equipment means electronic products including, but not limited to, desktop computers,
                    laptop computers, monitors, printers, fax machines, scanners, copiers, and telephones.
                    Office Expenses are costs related to the operation of your business. ... Supplies are items that
                    aid in the operation of your business.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_1.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Relief supplies</h4>
                <p>We import Relief food and Non food subtances from the East African countries
                like Cereals, Blankets, Tents, Nets and many more.Relief employees are individuals who work for the
                agency on a PRN basis (as needed). They do not usually work a regular schedule.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_2.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Construction materials</h4>
                <p>We supply a wide range of assorted building and construction materials
                    for Hardware, Electrical, Mechanical.
Our company supplies Cement,Plumbing Machinery, Aluminum doors and windows, Roofing tiles, Roof Tiles, Paint, Plastic sheets, Water pumps,Mechanical tools, and assorted hardware.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/elements/g4.jpg" alt="">
            </div>
            <div class="services-caption">
                <h4>Logistics and transport</h4>
                <p>We offer Intermodal logistics and supply chain solutions to all
                    destinations on behalf of our clients. This makes it possible for
                    them to get their goods to many destinations thereby expanding their diversification.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_3.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Printing and stationery supply</h4>
                <p>Printing & stationery expenses include the cost of stationery items which are used daily in
                    offices and the printed material for correspondence purposes.Stationery refers to mass-produced
                    materials used in writing, such as envelopes, paper, items like pens and pencils and other
                    office materials.</p>
            </div>

        </div>
        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_3.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Safety Equipments</h4>
                <p>Because we put God and family first, understand subtitle business values such as right to safe environment, the need for less stress in procurement and the business goal to reduce health and safety. </p>
            </div>

        </div>

        <div class="single-services">
            <div class="services-icon">
                <img src="assets/img/icon/services_icon_3.png" alt="">
            </div>
            <div class="services-caption">
                <h4>Fumigation and cleaning services</h4>
                <p>Fumigation is the most effective technique used for controlling pests. Parapets Home, School and
                    Office Fumigation and Pest control is very effective in getting rid of roaches', bedbugs,
                    termites, rats and snakes among others. ... We will deliver post-treatment, if necessary until
                    full pest elimination is achieved!</p>
            </div>

        </div>
    </div>
    <!-- Services Area End -->

    <!-- Want To Work Start -->
    <div class="wantToWork-area w-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <div class="wantToWork-caption">
                        <h2>Want To Work<br> With Us? Hit The Button.</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-4">
                    <div class="wantToWork-btn f-right">
                        <a href="#" class="white-btn">Let’s Work Toghter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Want To Work End -->

</main>
